<aside
  x-show="sidebarOpen || isLargeScreen"
  x-transition
  class="fixed inset-y-0 left-0 z-30 w-64 bg-gray-800 text-white p-4 transform transition-transform duration-200 ease-in-out lg:relative lg:translate-x-0"
  :class="{ '-translate-x-full': !sidebarOpen && !isLargeScreen, 'translate-x-0': sidebarOpen || isLargeScreen }"
>
  <p class="text-lg font-bold mb-4">Sidebar</p>
</aside>

<!-- Overlay -->
<div
  x-show="sidebarOpen && !isLargeScreen"
  x-transition.opacity
  @click="sidebarOpen = false"
  class="fixed inset-0 bg-black bg-opacity-50 z-20 lg:hidden"
></div>
